<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- PLEASE DON'T DELETE THE FOLLOWING META TAG!! -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{subject}}</title>

<link rel="stylesheet" type="text/css" href="css/email.css" />

<!-- iOS LINK FIXES: UNCOMMENT AFTER COMPILING -->
<!-- <style type="text/css">
	.ios-white a {
		color: #FFFFFF !important;
		text-decoration: none !important;
	}

	.ios-red a {
		color: #9B0B15 !important;
		text-decoration: none !important;
	}

	.ios-black a {
		color: #333333 !important;
		text-decoration: none !important;
	}
</style> -->
<!-- /iOS LINK FIXES -->

</head>

<body bgcolor="#EEEEEE" >

<!-- HEADER -->
<table class="head-wrap">
	<tr>
		<td></td>
		<td class="header container">

				<table>
					<tr>
						<td class="logo">
							<img src="https://emailcontent.wustl.edu/WU_PA/logo-wustl-4-color-rev-shield.png" alt="Washington University in St. Louis" height="27" width="321" />
						</td>
						<td class="expand"></td>
					</tr>
				</table>

		</td>
		<td></td>
	</tr>
	<!-- OFFICE/DEPARTMENT TITLE BAR -->
	<tr>
		<td></td>
		<td class="header-label container" style="background-color:#fff; border-bottom:1px solid #ccc">

				<table class="content">
					<tr>
						<td class="label">
								The Office of Public Affairs
						</td>
						<td class="expand"></td>
					</tr>
				</table>

		</td>
		<td></td>
	</tr>
	<!-- /OFFICE/DEPARTMENT TITLE BAR -->
</table>
<!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<!-- content -->
			<table class="content ios-red">
				<tr>
					<td>
							<!-- Hero Image Space (PLEASE ADD ALT TAGS AND EDIT HEIGTH & WIDTH) -->
							<p>
								<img src="http://placehold.it/550x290&amp;text=550px" alt="" height="290" width="550" >
							</p>
							<!-- /hero -->

							<h1>Lorem ipsum dolor sit amet, consectetur.</h1>

							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>

							<hr />

						<!-- News List -->
						<table class="news-list">

							<tr class="news-item">
									<td class="news-item-content">
										<h3><a href="http://artsci.wustl.edu/faculty/new-faculty/2014-15">New faculty arrivals</a></h3>
										<p>Arts &amp; Sciences welcomes 19 new faculty members across 13 departments and centers.</p>
									</td>
									<td class="news-item-image">
										<img src="http://publications.artsci.wustl.edu/images/january-90x90.jpg" height="90" width="90" alt=" " />
									</td>
							</tr>

							<tr class="news-item">
									<td class="news-item-content">
										<h3><a href="http://artsci.wustl.edu/about/awards/outstanding-staff/2013-2014">Congratulations to our outstanding staff</a></h3>
										<p>At a reception on Wednesday, Dean Schaal presented awards for exceptional contributions to Arts &amp; Sciences.</p>
									</td>
									<td class="news-item-image">
										<img src="http://publications.artsci.wustl.edu/images/Schaal_and_Jacobsen.jpg" height="90" width="90" alt=" " />
									</td>
							</tr>

							<tr class="news-item">
									<td class="news-item-content">
										<h3><a href="http://voices.wustl.edu/">Race, Place, and Violence</a></h3>
										<p>Students, faculty, and staff gathered on Thursday night for a university-wide dialogue to discuss the events in Ferguson.</p>
									</td>
									<td class="news-item-image">
										<img src="http://publications.artsci.wustl.edu/images/brookings-90x90.jpg" height="90" width="90" alt=" " />
									</td>
							</tr>

						</table>
						<!-- /News List -->

						<!-- Callout Panel -->
						<table class="callout">
							<tr>
								<td>
									<p>
										<strong>REMINDER:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad repellat facere vero deserunt quas.
									</p>
								</td>
							</tr>
						</table>

						<table class="callout alert">
							<tr>
								<td>
									<p>
										<strong>REMINDER:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reprehenderit quibusdam minima aliquid impedit.
									</p>
								</td>
							</tr>
						</table>

						<table class="callout warn">
							<tr>
								<td>
									<p>
										<strong>REMINDER:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptatem quidem tempora assumenda nemo.
									</p>
								</td>
							</tr>
						</table>


					</td>
				</tr>
			</table>
			<!-- /content -->

			<!-- COLUMN WRAP -->
			<table class="content">
				<tr>
					<td>
						<table class="column-wrap">
							<tr>
								<td class="wrapper">

									<table class="column col-big">
										<tr>
											<td>

												<h3 class="col-title">Section Heading</h3>
													<p>
														<strong><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quos aliquid quisquam error.</a></strong>
													</p>
													<p>
														<strong><a href="#">Exercitationem unde maxime soluta omnis pariatur sint labore non, maiores dolores, tempore quasi?</a></strong>
													</p>
											</td>
											<td class="expand"></td>
										</tr>
									</table>

								</td><td class="wrapper">

									<table class="column col-small last">
										<tr>
											<td>

												<!-- Event Sidebar -->
												<div class="sidebar">
													<div class="sidebar-item">
															<h5>Events</h5>
													</div>

													<div class="sidebar-item">
														<span class="ios-red">September 3, 2014</span><br />
														<strong><a href="http://physics.wustl.edu/events/2014/09/event-1179">The Mysterious Neutrinos – Clues from Astrophysics and Cosmology</a></strong>
													</div>

													<div class="sidebar-item">
														<span class="ios-red">September 3, 2014</span><br />
														<strong><a href="http://psychweb.wustl.edu/events/706">Collective Memory: Three Exploratory Studies</a></strong>
													</div>

													<div class="sidebar-item last">
														<span class="ios-red">September 5, 2014</span><br />
														<strong><a href="http://www.chemistry.wustl.edu/events/2014-09-05-160000/weissman-lecture-mimicking-copper-enzymes">Mimicking Copper Enzymes</a></strong>
													</div>
												</div>
												<!-- /Event Sidebar -->

											</td>
											<td class="expand"></td>

										</tr>
									</table>


								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- /COLUMN WRAP -->

			<!-- social & contact -->
			<table class="content social ios-white">
				<tr>
					<td>
						<table class="column-wrap">
							<tr>
								<td class="wrapper">

									<table class="column col-big">
										<tr>
											<td>

												<h5 class="">Contact Info:</h5>
												<p><strong>Washington University in St.&nbsp;Louis</strong><br />
												Campus Box {{cbox}}<br />
												<span class="ios-white">One Brookings Drive<br />
												St. Louis, MO 63130-4899</span></p>

												<p>Phone: <strong>{{phone}}</strong><br />
												Email: <strong><a href="emailto:{{email}}">{{email}}</a></strong></p>

											</td>
											<td class="expand"></td>
										</tr>
									</table>

								</td><td class="wrapper">

									<table class="column col-small last">
										<tr>
											<td>

												<h5>Connect with Us:</h5>

												<table class="button-wrap fb" align="center" border="0" cellpadding="0" cellspacing="0">
							    				<tr>
							        			<td class="button-bg" align="center" valign="middle">
															<a color="#FFFFFF" href="http://www.facebook.com/WUSTL" class="button-link">Facebook</span></a>
														</td>
													</tr>
												</table>

												<table class="button-wrap tw" align="center" border="0" cellpadding="0" cellspacing="0">
							    				<tr>
							        			<td class="button-bg" align="center" valign="middle">
															<a color="#FFFFFF" href="http://twitter.com/WUSTL" class="button-link">Twitter</a>
														</td>
													</tr>
												</table>

												<table class="button-wrap ig" align="center" border="0" cellpadding="0" cellspacing="0">
							    				<tr>
							        			<td class="button-bg" align="center" valign="middle">
															<a color="#FFFFFF" href="http://instagram.com/wustl_official" class="button-link">Instagram</a>
														</td>
													</tr>
												</table>

												<table class="button-wrap gp" align="center" border="0" cellpadding="0" cellspacing="0">
							    				<tr>
							        			<td class="button-bg" align="center" valign="middle">
															<a color="#FFFFFF" href="https://plus.google.com/+WUSTL/" class="button-link">Google+</a>
														</td>
													</tr>
												</table>

											</td>
											<td class="expand"></td>

										</tr>
									</table>

								</td>
							</tr>
						</table>
						<!-- /social & contact -->

					</td>
				</tr>
			</table>
		</td>
		<td></td>
	</tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<table class="content">
					<tr>
						<td class="center">
							<p>
								<a href="{{unsubscribe-link}}">{{unsubscribe}}</a>
							</p>
						</td>
						<td class="expand"></td>
					</tr>
				</table>
				<!-- /content -->
		</td>
		<td></td>
	</tr>
</table>
<!-- /FOOTER -->

</body>
</html>