<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- PLEASE DON'T DELETE THE FOLLOWING META TAG!! -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{subject}}</title>

<link rel="stylesheet" type="text/css" href="css/email.css" />

<!-- iOS LINK FIXES: UNCOMMENT AFTER COMPILING -->
<!-- <style type="text/css">
	.ios-white a {
		color: #FFFFFF !important;
		text-decoration: none !important;
	}

	.ios-red a {
		color: #9B0B15 !important;
		text-decoration: none !important;
	}

	.ios-black a {
		color: #333333 !important;
		text-decoration: none !important;
	}
</style> -->
<!-- /iOS LINK FIXES -->

</head>

<body bgcolor="#EEEEEE" >

<!-- HEADER -->
<table class="head-wrap">
	<tr>
		<td></td>
		<td class="header container">

				<table>
					<tr>
						<td class="logo">
							<img src="https://emailcontent.wustl.edu/WU_PA/logo-wustl-4-color-rev-shield.png" alt="Washington University in St. Louis" height="27" width="321" />
						</td>
						<td class="expand"></td>
					</tr>
				</table>

		</td>
		<td></td>
	</tr>
	<!-- OFFICE/DEPARTMENT TITLE BAR -->
	<tr>
		<td></td>
		<td class="header-label container" style="background-color:#fff; border-bottom:1px solid #ccc">

				<table class="content">
					<tr>
						<td class="label">
								The Office of Public Affairs
						</td>
						<td class="expand"></td>
					</tr>
				</table>

		</td>
		<td></td>
	</tr>
	<!-- /OFFICE/DEPARTMENT TITLE BAR -->
</table>
<!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap formal">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<!-- content -->
			<table class="content ios-red">
				<tr>
					<td class="center">
							<!-- Hero Image Space (PLEASE ADD ALT TAGS AND EDIT HEIGTH & WIDTH) -->
							<p>
								<img src="http://placehold.it/550x290&amp;text=550px" alt="" height="290" width="550" >
							</p>
							<!-- /hero -->

							<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</h1>
							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas fugit ab libero quae dicta officia!</p>


							<p>
								Thursday, October 30<br/>
								Public Relations National Council Business Meeting<br/>
								<strong>Charles F. Knight Executive Education and Conference&nbsp;Center</strong><br/>
								Washington University in St. Louis<br/>
								8:00AM-Continental Breakfast<br/>
								8:30AM–11:30AM Business Meeting<br/>
								11:30AM–1:30PM Optional Lunch/Discussion
							</p>

							

							<!-- call to action button (http://buttons.cm/) -->
							<br />
							<div><!--[if mso]>
							  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="0%" stroke="f" fillcolor="#9b0b15">
							    <w:anchorlock/>
							    <center>
							  <![endif]-->
							      <a href="http://"
							style="background-color:#9b0b15;border-radius:0px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:15px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">Button Text</a>
							  <!--[if mso]>
							    </center>
							  </v:roundrect>
							<![endif]-->
							</div>
							<!-- end button -->
							
							<br />


					</td>
				</tr>
			</table>
			<!-- /content -->

			<!-- social & contact -->
			<table class="content social ios-white">
				<tr>
					<td>
						<table class="column-wrap">
							<tr>
								<td class="wrapper">

									<table class="column col-big">
										<tr>
											<td>

												<p><strong>Washington University in St.&nbsp;Louis</strong><br />
												Campus Box {{ cbox }}<br />
												<span class="ios-white">One Brookings Drive<br />
												St. Louis, MO 63130-4899</span></p>

											</td>
											<td class="expand"></td>
										</tr>
									</table>

								</td><td class="wrapper">

									<table class="column col-small last">
										<tr>
											<td>

												<p>Phone: <strong>{{ phone }}</strong><br />
												Email: <strong><a href="mailto:{{ email }}">{{ email }}</a></strong></p>

											</td>
											<td class="expand"></td>

										</tr>
									</table>

								</td>
							</tr>
						</table>
						<!-- /social & contact -->

					</td>
				</tr>
			</table>
		</td>
		<td></td>
	</tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<table class="content">
					<tr>
						<td class="center">
							<p>
								<a href="mailto:tmontgomery@wustl.edu?subject=Unsubscribe: PR Nat Council">Unsubscribe</a>
							</p>
						</td>
						<td class="expand"></td>
					</tr>
				</table>
				<!-- /content -->
		</td>
		<td></td>
	</tr>
</table>
<!-- /FOOTER -->

</body>
</html>